<div class="row">
    <!-- Left col -->
    <div class="col-md-8">
        <app-geo-visitors></app-geo-visitors>


        
            
         <!-- DIRECT CHAT -->
         <div class="d-flex w-100 align-items-start" style="gap: 10px;">
            <app-direct-chat style="flex: 1;"></app-direct-chat>
            <app-latest-members style="flex: 1;"></app-latest-members>
          </div>
          
          
    
         <!-- /.row -->
         <!-- TABLE: LATEST ORDERS -->
        <app-latest-orders></app-latest-orders>
        <!-- /.card -->
    </div>
 <!-- /.col -->
  
 <div class="col-md-4">
    <!-- Info Boxes Style 2 -->
    <app-statistic-list></app-statistic-list>
    <!-- /.info-box -->

    <app-browser-usage></app-browser-usage>
    <!-- /.card -->

    <!-- PRODUCT LIST -->
    <app-product-list></app-product-list>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>