<div class="card-body p-0">
  <div class="table-responsive">
    <table class="table table-striped projects table-sm">
      <thead>
        <tr>
          <th class="text-center" style="width: 25%">Title</th>
          <th class="text-center" style="width: 25%">Formation</th>
          <th class="text-center" style="width: 20%">Status</th>
          <th class="text-center" style="width: 30%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demande of demandes">
          <td>
            <a>{{ demande.title }}</a><br />
            <small>Created {{ demande.createdAt | date: 'dd/MM/yyyy' }}</small>
          </td>
          <td class="text-center">
            {{ demande.formation.title }}
          </td>
          <td class="text-center">
            <span class="badge badge-info">{{ demande.statut }}</span>
          </td>
          <td class="text-right">
            <button class="btn btn-outline-primary btn-sm" (click)="onView(demande.id)">
              <i class="fas fa-folder"></i> View
            </button>
            <button class="btn btn-outline-info btn-sm" (click)="onEdit(demande.id)">
              <i class="fas fa-pencil-alt"></i> Edit
            </button>
            <button class="btn btn-outline-danger btn-sm" (click)="onDelete(demande.id)">
              <i class="fas fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
