<div class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Clients Table</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Clients</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <p-toast />
                        <p-toolbar styleClass="mb-4 gap-2">
                            <ng-template pTemplate="left">
                                <p-button severity="success" label="New" icon="pi pi-plus" class="mr-2"
                                    (onClick)="openNew()" />
                                <p-button severity="danger" label="Delete" icon="pi pi-trash"
                                    (onClick)="deleteSelectedClients()"
                                    [disabled]="!selectedClients || !selectedClients.length" />
                            </ng-template>

                            <ng-template pTemplate="right">
                                <!-- Import Button -->
                                <p-button mode="basic" label="Import CSV" icon="pi pi-upload" class="mr-2 inline-block"
                                    (click)="triggerFileInput()" />

                                <!-- Hidden File Input -->
                                <input #fileInput type="file" accept=".csv" style="display: none"
                                    (change)="importCSV($event)" />

                                <!-- Export Button -->
                                <p-button severity="help" label="Export" icon="pi pi-download" (click)="exportCSV()" />
                            </ng-template>
                        </p-toolbar>

                        <p-table #dt [value]="clients" [rows]="10" [paginator]="true"
                            [globalFilterFields]="['username', 'email', 'role', 'domaine']"
                            [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedClients" [rowHover]="true"
                            dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [showCurrentPageReport]="true">
                            <ng-template pTemplate="caption">
                                <div class="flex align-items-center justify-content-between">
                                    <h5 class="m-0">Manage Clients</h5>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="applyGlobalFilter($event)"
                                            placeholder="Search clients..." />
                                    </span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 4rem">
                                        <p-tableHeaderCheckbox />
                                    </th>
                                    <th pSortableColumn="username" style="min-width:15rem">
                                        Username <p-sortIcon field="username" />
                                    </th>
                                    <th pSortableColumn="email">
                                        Email <p-sortIcon field="email" />
                                    </th>
                                    <th pSortableColumn="role">
                                        Role <p-sortIcon field="role" />
                                    </th>
                                    <th pSortableColumn="domaine">
                                        Domaine <p-sortIcon field="domaine" />
                                    </th>
                                    <th>
                                        Certifications
                                    </th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-client>
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="client" />
                                    </td>
                                    <td>
                                        {{ client.username }}
                                    </td>
                                    <td>
                                        {{ client.email }}
                                    </td>
                                    <td>
                                        <p-tag 
                                        [value]="getRoleLabel(client.role)" 
                                        [severity]="getRoleSeverity(client.role)"
                                        [style]="{'min-width': '6rem', 'text-align': 'center'}"
                                    />                                    
                                </td>
                                    <td>
                                        {{ client.domaine }}
                                    </td>
                                    <td>
                                        {{ client.certifications }}
                                    </td>
                                    <td>
                                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                                            severity="success" (onClick)="editClient(client)" />
                                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                                            (onClick)="deleteClient(client)" />
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="flex align-items-center justify-content-between">
                                    In total there are {{ clients ? clients.length : 0 }} clients.
                                </div>
                            </ng-template>
                        </p-table>

                        <p-dialog [(visible)]="clientDialog" [style]="{ width: '600px' }" header="Client Details"
                            [modal]="true" styleClass="p-fluid">
                            <ng-template pTemplate="content">
                                <div class="field">
                                    <label for="username">Username</label>
                                    <input type="text" pInputText id="username" [(ngModel)]="client.username" required
                                        autofocus />
                                    <small class="p-error" *ngIf="submitted && !client.username">
                                        Username is required.
                                    </small>
                                </div>
                                <div class="field">
                                    <label for="email">Email</label>
                                    <input type="email" pInputText id="email" [(ngModel)]="client.email" required />
                                    <small class="p-error" *ngIf="submitted && !client.email">
                                        Email is required.
                                    </small>
                                </div>
                                <div class="field">
                                    <label for="password">Password</label>
                                    <input type="password" pInputText id="password" [(ngModel)]="client.password" />
                                </div>
                                <div class="field">
                                    <label for="role">Role</label>
                                    <p-dropdown [options]="roles" [(ngModel)]="client.role" optionLabel="label"
                                        optionValue="value" placeholder="Select a Role"
                                        [style]="{ width: '100%' }"></p-dropdown>
                                </div>
                                <div class="field">
                                    <label for="domaine">Domaine</label>
                                    <input type="text" pInputText id="domaine" [(ngModel)]="client.domaine" />
                                </div>
                                <div class="field">
                                    <label for="certifications">Certifications</label>
                                    <textarea id="certifications" pInputTextarea [(ngModel)]="client.certifications"
                                        rows="3"></textarea>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="footer">
                                <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
                                <p-button label="Save" icon="pi pi-check" [text]="true" (onClick)="saveClient()" />
                            </ng-template>
                        </p-dialog>

                        <p-confirmDialog [style]="{ width: '450px' }" />
                    </div>
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
</div>