
<p-button (onClick)="showDialog()" icon="pi pi-user" label="Login"></p-button>
      
<p-dialog [(visible)]="visible" [modal]="true" [closable]="false" [style]="{ width: '25rem' }">
  <ng-template pTemplate="headless">
    <div
      class="flex flex-column px-8 py-5 gap-4"
      style="border-radius: 12px; background-image: radial-gradient(circle at left top, var(--primary-400), var(--primary-700))"
    >
      <!-- Logo SVG -->
      <svg
        width="33"
        height="35"
        viewBox="0 0 33 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="block mx-auto"
      >
        <!-- SVG paths here -->
      </svg>

      <!-- Username Input -->
      <div class="inline-flex flex-column gap-2">
        <label for="username" class="text-primary-50 font-semibold">Username</label>
        <input
          pInputText
          id="username"
          class="bg-white-alpha-20 border-none p-3 text-primary-50"
          [(ngModel)]="username"
        />
      </div>

      <!-- Password Input -->
      <div class="inline-flex flex-column gap-2">
        <label for="password" class="text-primary-50 font-semibold">Password</label>
        <input
          pInputText
          id="password"
          class="bg-white-alpha-20 border-none p-3 text-primary-50"
          [(ngModel)]="password"
          type="password"
        />
      </div>

      <!-- Buttons -->
      <div class="flex align-items-center gap-2">
        <p-button
          label="Sign-In"
          (onClick)="login()"
          [text]="true"
          styleClass="p-3 w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
        ></p-button>
        <p-button
          label="Cancel"
          (onClick)="closeDialog()"
          [text]="true"
          styleClass="p-3 w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>