<div class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Unassigned Demands</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Demands</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Folders</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item" [class.active]="currentFolder === 'inbox'">
                    <a class="nav-link" (click)="currentFolder = 'inbox'" style="cursor: pointer;">
                      <i class="fas fa-inbox"></i> Unassigned
                      <span class="badge bg-primary float-right">{{demands.length}}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Unassigned Demands</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search Demands">
                    <div class="input-group-append">
                      <div class="btn btn-primary">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-body p-0">
                <div class="mailbox-controls">
                  <button type="button" class="btn btn-default btn-sm checkbox-toggle" (click)="toggleSelectAll()">
                    <i class="far" [ngClass]="selectAll ? 'fa-check-square' : 'fa-square'"></i>
                  </button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" (click)="deleteSelected()">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </div>
                  <button type="button" class="btn btn-default btn-sm" (click)="refreshDemands()">
                    <i class="fas fa-sync-alt"></i>
                  </button>
                  <div class="float-right">
                    {{paginationText}}
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-sm" (click)="previousPage()">
                        <i class="fas fa-chevron-left"></i>
                      </button>
                      <button type="button" class="btn btn-default btn-sm" (click)="nextPage()">
                        <i class="fas fa-chevron-right"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="table-responsive mailbox-messages">
                  <table class="table table-hover table-striped">
                    <tbody>
                      <tr *ngFor="let demand of demands | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage">
                        <td>
                          <div class="icheck-primary">
                            <input type="checkbox" [id]="'check' + demand.id" [(ngModel)]="demand.selected">
                            <label [for]="'check' + demand.id"></label>
                          </div>
                        </td>
                        <td class="mailbox-name">
                          <a>{{demand.client.username || 'Unknown'}}</a>
                        </td>
                        <td class="mailbox-subject">
                          <b>{{demand.title}}</b> - {{demand.description}}
                        </td>
                        <td class="mailbox-type">
                          {{demand.type}}
                        </td>
                        <td class="mailbox-date">
                          {{demand.createdAt | date:'short'}}
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm" (click)="assignDemande(demand.id)">Assign</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>