<div class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

<div class="wrapper">
  
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Profile</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">User Profile</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
  
              <!-- Profile Image -->
              <div  class="card bg-gray-800 border border-gray-700 text-white shadow-sm">
<div class="card-body box-profile">
  <div class="text-center">
    <img class="profile-user-img img-fluid img-circle"
         src="../../dist/img/user4-128x128.jpg"
         alt="User profile picture">
  </div>

  <!-- Full Name Display -->
<h3 class="profile-username text-center">
  {{ firstname }} {{ lastname }}
</h3>

<!-- Role with Badge -->
<p class="text-muted text-center">
  <span class="badge bg-info text-dark px-3 py-1">{{ role }}</span>
</p>

<!-- Contact Info -->
<p class="text-center">
  <i class="fas fa-envelope"></i> {{ username }}<br>
  <i class="fas fa-phone-alt"></i> {{ phoneNumber }}
</p>

<!-- Stats -->
<ul class="list-group list-group-unbordered mb-3">
  <li class="list-group-item bg-gray-800 text-white border-gray-700">
    <b>Formations</b>
    <a class="float-right">{{ formationsCount }}</a>
  </li>
  <li class="list-group-item bg-gray-800 text-white border-gray-700">
    <b>Demandes</b>
    <a class="float-right">{{ demandesCount }}</a>
  </li>
  <li class="list-group-item bg-gray-800 text-white border-gray-700">
    <b>Interested Formations</b>
    <div class="mt-2">
      <ng-container *ngIf="client?.interested?.length; else noInterests">
<span
  *ngFor="let formation of client?.interested"
  class="badge bg-success text-white me-1 mb-1 formation-badge"
  title="{{ formation.title }}"
>
  {{ formation.title }}
</span>


      </ng-container>
      <ng-template #noInterests>
        <span class="text-muted">No interests listed</span>
      </ng-template>
    </div>
  </li>
</ul>


</div>

                
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  
              <!-- About Me Box -->
              <app-about-me></app-about-me>
              <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#myDemandes" data-toggle="tab">My demandes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#historique" data-toggle="tab">Historique</a></li>
                    <li class="nav-item"><a class="nav-link" href="#editProfile" data-toggle="tab">Edit profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="#notification" data-toggle="tab">Notifications</a></li>
                  </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">

                    <div class="active tab-pane  " id="myDemandes">
                      <!-- The myDemandes -->
                      <app-my-demandes></app-my-demandes>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="historique">
                      <app-historique></app-historique>
                      </div>
                      <!-- /.tab-pane -->  
                      <div class="tab-pane" id="editProfile">
                        <app-update-profile></app-update-profile>
                      </div>
                      <div class="tab-pane" id="notification">
                        <app-notification-historique></app-notification-historique>
                      </div>

                      
                    <!-- /.tab-pane -->
                  
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>

  </div>
  </div>